.containerWrap{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 0px 114px 0 !important;
}

.imgCar {
  display: flex;
  margin: auto;
}

.aboutUs {
  width: 36px;
  height: 3px;
  background-color: black;
  position: relative;
  left: 49%;
  margin-bottom: 10px;
}

.rowWrap {
  max-width: 662px !important;
  margin: auto;
}

.inputElement:hover {
  border-color: rgba(185, 185, 185, 0.541);
  border-style: solid;
}

input[type="email"]:not(:placeholder-shown):invalid {
  background: lightpink;
  border: 2px solid red;
}
input[type=email]:not:invalid {
  background: lightpink;
  border: 2px solid red;
}

input[type="email"]:focus-visible {
  background: white !important;
}

@media only screen and (max-width: 767px) {
  .imgCar {
    width: 191px;
    height: 155px;
  }
}

@media only screen and (max-width: 575px) {
  .contentWrap {
    text-align: center;
    padding: 0 !important;
  }
}