.containerWrap{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 0px 114px 0 !important;
}

.services {
  width: 36px;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 49%;
}

@media only screen and (max-width: 767px) {
  .services {
    left: 46%;
  }
}

@media only screen and (max-width: 575px) {
  .containerWrap{
    padding: 0px !important;
  }
}