.containerWrap{
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 180px);
  padding: 64px 0px 56px 0;
}

.services {
  width: 36px;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 49%;
}

@media only screen and (max-width: 767px) {
  .services {
    left: 46%;
  }
}