.overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  opacity: 0;
  color: red;
  max-width: 382px;
  transition: 0.5s ease;
  color: white;
  font-size: 20px;
  padding: 35px;
  text-align: center;
}

.imgContainer:hover .overlay {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.description{
  font-size: 18px;
}

@media screen and (min-width: 376px) and (max-width: 575px) {
  .overlay {
    max-width: 427px;
    left: auto;
  }
  .imgContainer{
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .description{
    font-size: 14px;
  }
}